
.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.site-footer .list-service li:first-child {
    border-left: 0;
}

.site-footer .list-service em[class*=iconfont] {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-footer .list-service a:hover {
    color: #ff6700;
}

.site-footer .footer-links {
    padding: 40px 0;
}

.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    margin: 0;
}

.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.site-footer .footer-links .col-links a {
    color: #757575;
}

.site-footer .footer-links .col-links a:hover {
    color: #ff6700;
}

.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.site-footer .footer-links .col-contact p {
    margin: 0 0 16px;
    font-size: 12px;
}

.site-footer .footer-links .col-contact .phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;

    &:hover {
        background-color: #ff6700;
        color: #fff;
    }
}

.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}

.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}

.site-info .container {
    position: relative;
}

.site-info .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(//s02.mifile.cn/assets/static/image/logo-footer.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.site-info .info-text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}

.site-info .info-text a {
    color: #b0b0b0;
}

.site-info .info-text a:hover {
    color: #ff6700;
}

.site-info .info-text .sites a {
    color: #757575;
}

.site-info .info-text .sites a:hover {
    color: #ff6700;
}

.site-info .info-text .sites .sep {
    margin: 0;
}

.site-info .info-links {
    height: 28px;
    margin: 4px 0 0;
    padding-left: 67px;
}

.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
    margin-bottom: 15px;
}

.site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(//s02.mifile.cn/assets/static/image/slogan2016.png) no-repeat center 0;
}

#side-navigation {
    position: fixed;
    bottom: 70px;
    right: 0px;

    a {
        display: block;
        width: 82px;
        height: 90px;
        background-color: #fff;
        border: 1px solid #f5f5f5;
        text-align: center;
        margin-bottom: -2px;
        div {
            width: 82px;
            height: 72px;
            padding-top: 18px;
            i{
                font-size: 28px;
                color: #757575;
            }
            p{
                color: #757575;
            }
            &:hover i{
                color: #ff6700;
            }
            &:hover p{
                color: #ff6700;
            }
        }
    }
    .last{
        margin-top: 14px;
        opacity: 0;
    }
}