// 顶部导航
.nav{
	height: 100px;
}
.nav .site-logo{
	float: left;
	width: 62px;
	margin-top: 22px;
}
.nav .site-logo a{
	display: block;
	width: 56px;
	height: 56px;
}
.nav .site-list{
	float: left;
	width: 850px;
}
.nav .site-list>ul{
	width: 820px;
	height: 88px;
	padding: 12px 0 0 30px;
	font-size: 16px;
}
.nav .site-list>ul>li{
	float: left;
}
.nav .site-list>ul>li>a{
	display: block;
	padding: 26px 10px 38px;
	color: #333;
}
.nav .site-list>ul>li>a:hover{
	color: #ff6700;
}
.nav .site-list>ul .site-category>a{
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.nav .site-list>ul>li.site-category{
	position: relative;
	z-index: 3;
}
.nav .site-list>ul>li.site-category .category-list{
	position: absolute;
	top: 88px;
	left: -92px;
	width: 234px;
	height: 460px;
	background-color: rgba(0,0,0,0.6);
}

.category-list>ul {
	width: 234px;
	height: 420px;
	padding: 20px 0;
}
.category-list>ul>li{
	height: 42px;
}
.category-list>ul>li>a{
	padding-left: 30px;
	display: block;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #fff;
	position: relative;
}
.category-list>ul>li>a:hover{
	background-color: #ff6700;
}
.category-list>ul>li>a>span{
	position: absolute;
	top: 12px;
	right: 20px;
	font-size: 16px;
	line-height: 16px;
}
.nav .site-search{
	float: right;
	width: 296px;
	margin-top: 25px;
}
.nav .site-search form {
	position: relative;
	width: 296px;
	height: 50px;
}
.nav .site-search form  .search-txt{
	width: 223px;
	height: 48px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	padding: 0 10px;
    float: left;
}
.nav .site-search form  .search-btn{
	margin-left: -1px;
	float: left;
	width: 50px;
	height: 50px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    font-size: 24px;
}
.login a:hover{
  color: #fff;
}
.nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px; }


.slide-up {
        height: 0; }
      
.slide-down {
        height: 229px; }

         .nav-item-active {
            position: relative; }
          
           .nav-item-active .link {
            color: #ff6700; }
          
           .nav-item-active:after {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 600px;
            height: 40px;
            margin-left: -300px;
            content: "";
            background-color: transparent; }
          
           .header-nav-menu {
            position: absolute;
            top: 140px;
            left: 0;
            z-index: 24;
            width: 100%;
            height: 0;
            border-top: 1px solid #e0e0e0;
            background: #fff;
            overflow: hidden; }
          
           .header-nav-menu.slide-up {
            height: 0; }
          
           .header-nav-menu.slide-down {
            height: 229px; }
          
           .header-nav-menu .children-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: 12px; }
          
           .header-nav-menu .children-list li {
            position: relative;
            float: left;
            width: 180px;
            padding: 35px 12px 0;
            text-align: center; }
          
           .header-nav-menu .children-list li:before {
            position: absolute;
            left: 0;
            top: 35px;
            z-index: 1;
            width: 1px;
            height: 100px;
            content: "";
            background-color: #e0e0e0; }
          
           .header-nav-menu .children-list .first:before {
            display: none; }
          
           .header-nav-menu .figure-thumb {
            width: 160px;
            height: 110px;
            margin: 0 auto 16px;
            text-align: center; }
          
           .header-nav-menu .figure-thumb img {
            width: 160px;
            height: 110px; }
          
           .header-nav-menu .figure-thumb a {
            display: block; }
          
           .header-nav-menu .title {
            margin: 0;
            line-height: 20px;
            color: #333; }
          
           .header-nav-menu .title,  .header-nav-menu .title a {
            color: #333; }
          
           .header-nav-menu .price {
            margin: 0;
            line-height: 20px;
            color: #ff6700; }
          
           .header-nav-menu .flags {
            position: absolute;
            top: -1px;
            left: 0;
            z-index: 1;
            width: 100%;
            font-size: 12px;
            text-align: center; }
          
           .header-nav-menu .flag {
            display: inline-block;
            height: 18px;
            padding: 1px 20px;
            border: 1px solid #ff6700;
            color: #ff6700; }
          
           .header-nav-menu-active {
            border-bottom: 1px solid\9;
            -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
            -webkit-transition: height .3s,-webkit-box-shadow .2s;
            transition: height .3s,-webkit-box-shadow .2s;
            transition: box-shadow .2s,height .3s;
            transition: box-shadow .2s,height .3s,-webkit-box-shadow .2s; }

.banner{
    .site-category-list {
    height: 418px;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    color: #424242;
    background: rgba(105,101,101,.6); }
  
  .site-category-list .category-item-active .title {
    background: #ff6700;
    color: #fff; }
  
  .site-category-list .category-item-active .title em[class*=iconfont] {
    color: #fff;
    color: rgba(255, 255, 255, 0.5); }
  
  .site-category-list .category-item-active .children {
    display: block; }
  
  .site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff; }
  
  .site-category-list .title em[class*=iconfont] {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0; }
  
  .site-category-list .children-list {
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none; }
  
  .site-category-list .children-list li {
    position: relative;
    padding: 14px;
    float: left;
    width: 237px;
    height: 48px; }
  
  .site-category-list .children-list li.star-goods .link {
    width: 170px;
    padding-right: 0; }
  
  .site-category-list .children-list .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s; }
  
  .site-category-list .children-list .link:hover {
    color: #ff6700; }
  
  .site-category-list .children-list .thumb {
    float: left;
    margin-right: 12px;
    vertical-align: middle; }
  
  .site-category-list .children-list .text {
    float: left;
    font-size: 14px;
    color: #333;
    width: 172px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  
  .site-category-list .children-list .btn-buy {
    position: absolute;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px; }
  
  .site-category-list .children-list-col {
    float: left;
    width: 265px; }
  
  .site-category-list .children {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18); }
  
  .site-category-list .children-col-1 {
    width: 265px; }
  
  .site-category-list .children-col-2 {
    width: 530px; }
  
  .site-category-list .children-col-3 {
    width: 795px; }
  
  .site-category-list .children-col-4 {
    width: 992px; }
  
  .site-category-list .children-col-4 .children-list-col {
    width: 248px; }
  
   .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px; }


.slide-up {
        height: 0; }
      
.slide-down {
        height: 229px; }

         .nav-item-active {
            position: relative; }
          
           .nav-item-active .link {
            color: #ff6700; }
          
           .nav-item-active:after {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 600px;
            height: 40px;
            margin-left: -300px;
            content: "";
            background-color: transparent; }
          
           .header-nav-menu {
            position: absolute;
            top: 140px;
            left: 0;
            z-index: 24;
            width: 100%;
            height: 0;
            border-top: 1px solid #e0e0e0;
            background: #fff;
            overflow: hidden; }
          
           .header-nav-menu.slide-up {
            height: 0; }
          
           .header-nav-menu.slide-down {
            height: 229px; }
          
           .header-nav-menu .children-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: 12px; }
          
           .header-nav-menu .children-list li {
            position: relative;
            float: left;
            width: 180px;
            padding: 35px 12px 0;
            text-align: center; }
          
           .header-nav-menu .children-list li:before {
            position: absolute;
            left: 0;
            top: 35px;
            z-index: 1;
            width: 1px;
            height: 100px;
            content: "";
            background-color: #e0e0e0; }
          
           .header-nav-menu .children-list .first:before {
            display: none; }
          
           .header-nav-menu .figure-thumb {
            width: 160px;
            height: 110px;
            margin: 0 auto 16px;
            text-align: center; }
          
           .header-nav-menu .figure-thumb img {
            width: 160px;
            height: 110px; }
          
           .header-nav-menu .figure-thumb a {
            display: block; }
          
           .header-nav-menu .title {
            margin: 0;
            line-height: 20px;
            color: #333; }
          
           .header-nav-menu .title,  .header-nav-menu .title a {
            color: #333; }
          
           .header-nav-menu .price {
            margin: 0;
            line-height: 20px;
            color: #ff6700; }
          
           .header-nav-menu .flags {
            position: absolute;
            top: -1px;
            left: 0;
            z-index: 1;
            width: 100%;
            font-size: 12px;
            text-align: center; }
          
           .header-nav-menu .flag {
            display: inline-block;
            height: 18px;
            padding: 1px 20px;
            border: 1px solid #ff6700;
            color: #ff6700; }
          
           .header-nav-menu-active {
            border-bottom: 1px solid\9;
            -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
            -webkit-transition: height .3s,-webkit-box-shadow .2s;
            transition: height .3s,-webkit-box-shadow .2s;
            transition: box-shadow .2s,height .3s;
            transition: box-shadow .2s,height .3s,-webkit-box-shadow .2s; }
}


.main{
  background-color: rgb(245, 245, 245)
}
.banner{
  width: 100%;
  height: 620px;
  margin: 0 auto;
  a{
    display: block;
    width: 100%;
    height: 620px;
    img{
      width: 100%;
      height: 620px;
    }
  }
}
.product-show h2{
  line-height: 64px;
  margin: 0;
  padding-top: 4px;
  color: #333;
  font-size: 24px;
  font-weight: 400;
}
.product{
  padding:0;
  padding-bottom:40px;
}

.product li{
  float: left;
  width: 606px;
  margin-right: 7px;
  margin-bottom: 10px;
  transition: all .2s linear;
  background-color: #fff;
  &:hover{
    box-shadow: 0px 0px 25px  rgba(46,46,46,0.2); 
    transform:translateY(-5px);
  }
  .pro-img{
    width: 606px;
    height: 358px;
    a{
      display: block;
      img{
        width: 606px;
        height: 358px;
      }
    }
  }
  .pro-title{
    font-size: 24px;
    line-height:26px;
    font-weight: 400;
    margin: 38px 0 0 48px;
    a{
      color:rgba(51,51,51,.9)
    }
  }
  .pro-price{
    margin: 3px 0 30px 48px;
    line-height: 22px;
    .span1{
      color: rgba(51,51,51,.7);
      font-size: 14px;
      display: inline-block;
      width: 380px;
    }
    .span2{
      color:#ff6700;
      line-height: 30px;
      font-size: 12px;
      font-weight: 700;
      i{
        font-weight: 400;
        font-size: 30px;
      }
    }
  }
}
